div {
    margin: none;
    padding: none;
    font-family: sans-serif;
}

div.rightPane {
  display: inline;
  float: right;
}

.game::after {
  display: block;
  clear: both;
  content: "";
}

.game {
  width: 350px;
  margin: auto;
}

div.leftPane {
  display: inline;
  float: left;
  width: 130px;
  font-size: 13px;
  text-align: right;
}

.gradeView {
  padding-top: 65px;
}

.gradeView > div {
  padding-top: 5px;
  font-weight: 100;
  display: block;
}

.grade {
  margin-left: 40px;
  margin-bottom: 5px;
  padding: 10px;
  float: right;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 50px;
  border: 2px solid black;
}

.amt {
  font-size: 30px;
}

.scoreView {
  padding-top: 80px;
}

.levelView {
  padding-top: 55px;
}

.divider {
  border-bottom: 1px solid grey;
  width: 50px;
  height: 1px;
  float: right;
}

.levelTier {
  width: 120px;
  text-align: right;
  float: right;
}

div.textOverlay {
  position: relative;
  font-family: sans-serif;
  font-size: 50px;
  top: 300px;
  left: 50px;
}

div.frameCounter {
  font-family: sans-serif;
}

div.nextPiece {
  width: 84px;
  display: block;
  margin: auto;
}

.nextCells {
  display: block;
  height: auto;
}

div.grid {
  width: 206px;
  display: inline-block;
  border: 3px solid grey;
  margin-top: 5px;
}

div.cell {
  width: 19px;
  height: 19px;
  border: 1px solid black;
  display: inline-block;
  float: left;
}

.timer {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

/*cell coloring */
div.type-1 {
  background: none;
}

div.type0{
  background: purple;
}

div.type1{
  background: green;
}

div.type2{
  background: yellow;
}

div.type3{
  background: cyan;
}

div.type4{
  background: orange;
}

div.type5{
  background: blue;
}

div.type6{
  background: red;
}

div.type100{
  background: purple;
}

div.type101{
  background: green;
}

div.type102{
  background: yellow;
}

div.type103{
  background: cyan;
}

div.type104{
  background: orange;
}

div.type105{
  background: blue;
}

div.type106{
  background: red;
}
