div {
  font-family: sans-serif;
}

body {
  background-image: url('../assets/background.jpg');
  background-position: -10px;
  color: white;
}

.info {
  display: inline-block;
  vertical-align: top;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

a {
  color: cyan;
}

div.rightPane {
  display: inline;
  float: right;
}

.game::after {
  display: block;
  clear: both;
  content: "";
}

#content {
  display: inline-block;
}

.game {
  width: 350px;
  margin: auto;
  display: inline-block;
}

div.leftPane {
  display: inline;
  float: left;
  width: 130px;
  font-size: 13px;
  text-align: right;
}

.gradeView {
  padding-top: 67px;
}

.gradeView > div {
  padding-top: 5px;
  font-weight: 100;
  display: block;
}

.grade {
  margin-left: 40px;
  margin-bottom: 5px;
  padding: 8px;
  float: right;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 50px;
  border: 2px solid white;
}

.amt {
  font-size: 30px;
}

.scoreView {
  padding-top: 80px;
}

.levelView {
  padding-top: 51px;
}

.divider {
  border-bottom: 1px solid grey;
  width: 50px;
  height: 1px;
  float: right;
}

.levelTier {
  width: 120px;
  text-align: right;
  float: right;
}

.overlayContainer {
  position: relative;
  height: 0;
  width: 0;
  color: white;
  font-family: sans-serif;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.leaderboard {
  white-space: pre-wrap;
  position: absolute;
  top: 80px;
  font-size: 14px;
  left: 0px;
  list-style: none;
  padding-left: 15px;
  margin: auto;
  width: 190px;
}

.lbheader {
  font-size: 11px;
  margin-bottom: 10px;
}

.lb > div {
  display: inline-block;
  text-align: left;
}

.LB-NAM {
  width: 46px; /*the widest three letters can be, here */
}

.LB-GRD {
  width: 31px;
}

.LB-TIM {
  width: 63px;
}

.LB-SCR {
  width: 50px;
}


.message {
  position: absolute;
  left: 35px;
  top: 200px;
  width: 150px;
  font-size: 50px;
  margin: auto;
  text-align: center;
}

div.frameCounter {
  font-family: sans-serif;
}

div.nextPiece {
  width: 84px;
  display: block;
  margin: auto;
  text-align: center;
}

.nextCells {
  display: block;
  height: auto;
}

div.grid {
  width: 210px;
  display: inline-block;
  border: 3px solid grey;
  margin-top: 5px;
  background: -moz-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
  background: -webkit-linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7));
}

div.cell {
  width: 19px;
  height: 19px;
  border: 1px solid transparent;
  display: inline-block;
  float: left;
}

.timer {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

/*cell coloring */
div.type-1 {
  background: none;
}

div.type0{
  background: purple;
}

div.type1{
  background: green;
}

div.type2{
  background: yellow;
}

div.type3{
  background: cyan;
}

div.type4{
  background: orange;
}

div.type5{
  background: blue;
}

div.type6{
  background: red;
}

div.type100{
  background: purple;
}

div.type101{
  background: green;
}

div.type102{
  background: yellow;
}

div.type103{
  background: cyan;
}

div.type104{
  background: orange;
}

div.type105{
  background: blue;
}

div.type106{
  background: red;
}
